/* nav specialized to landing page */
.logo {
  margin: 1rem 0 0 1rem;
}

nav {
  background-color: var(--bg-color);
}

/* hero section */
.hero {
  text-align: center;
  background-color: var(--bg-color);
  padding: 2rem 0 2rem 0;
  overflow: hidden;
}

.hero .inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto
}

.hero .column {
  width: 50%;
  float: left;
}

.hero .column img {
  width: 100%;
  float: left;
  padding: 20px
}

.hero__title {
  font-weight: 900;
  color: var(--primary-color);
  margin-top: 70px;
  margin-bottom: 40px;
}

.hero__description {
  margin: -1rem auto 2rem auto;
  text-align: left;
  color: #000;
  font-size: 1.3rem;
  line-height: 1.69rem;
}

.hero__terminal {
  width: 60%;
  margin: -11rem auto 3rem auto;
  text-align: left;
  color: white;
  padding: 0 1rem;
  border-radius: 4px;
  background-color: #232323;
  min-height: 285px;
  animation: fadeUp 2s;
  box-shadow: 0px 12px 36.8px 9.2px rgba(0, 0, 0, 0.1);
}

.hero__terminal pre {
  white-space: pre-line;
  padding-top: 1rem;
}

.bottom-line {
  transform: scale(1, -1);
  margin: -10px 0 0 0;
}

.top-line {
  margin: 0 0 -10px 0;
}

/* feature section */
.how__it__works .section__title {
  margin-bottom: 70px
}

h2.section__title {
  margin-top: 100px; 
  text-align: center;
}

.feature {
  display: flex;
  flex-wrap: wrap;
}

.feature__item {
  max-width: calc(33% - 20px);
  margin: 0 20px 70px 0;
}

.feature__item img {
  width: 100%;
  padding: 30px
}

.feature__item svg {
  width: 40%;
  margin: 0 auto;
  display: block;
}

.feature__item .section__title {
  margin-bottom: 0;
}

.feature__item p {
  margin-top: 0.5rem;
}

/* share */
.share {
  background-color: var(--bg-color);
  overflow: hidden;
}

.share .section__title.why {
  font-size: 2rem;
  text-align: center; 
}

.share .content {
  max-width: 800px;
  margin: 50px auto;
  text-align: left;
  overflow: hidden;
}

.share p {
  max-width: 700px;
  margin: 10px auto;
  text-align: left;
  font-size: 0.95rem;
  line-height: 1.3rem;
}

.share h2 {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  font-size: 1.5rem;
  line-height: 3rem;
}
.share .column {
  width: 70%;
  float: left;
}
.share .column_img {
  width: 17%;
  margin: 53px 10% 0 0;
  float: left;
}
.share .column_img svg {
  width: 100%;
  padding: 10px;
}

/* buy */
.buy {
  overflow: hidden;
  text-align: center;
}
.buy .section__title {
  margin-bottom: 10px;
}
.buy p {
  max-width: 700px;
  margin: 0 auto
}
.email {
  margin: 30px 0 0 0;
}
.email input {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.1px;
  font-style: normal;
  font-weight: normal;
  padding: 9px 10px 9px 10px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #ccc;
  width: 300px;
  outline: none;
  margin: 10px 0 0 0;
}

.email .button--new {
  margin: -4px 0 0 0;
  border-radius: 0 4px 4px 0;
  outline: none;
  cursor: pointer;
}

.email_success {
  display: none;
  margin: 30px 0 0 0
}

/* footer */
.footer {
  background: #fff;
  overflow: hidden;
  height: 50px;
  width: 100%;
  color: #000;
  text-align: center;
  margin: 100px 0 0 0;
  font-size: 13px
}
.footer .icons {
  color: #C7C7C3;
}

@media (max-width: 750px) {
  p, h1, h2, h3, h4 {
    text-align: center !important;
  }
  .button--new {
    float: none
  }
  .hero__image {
    display: none;
  }
  .hero .column {
    width: 100%;
    padding: 0 2%
  }
  .feature__item {
    max-width: 100%;
    margin: 0;
  }
  .share .column {
    width: 100%;
    padding: 0 5%;
  }
  .share .column_img {
    display: none;
    width: 17%;
    margin: 53px 10% 0 0;
    float: left;
  }
  .email .button--new {
    width: auto;
  }
  .email input {
    width: 215px;
  }
}