body {
  overflow-x: hidden;
}

* {
  -webkit-overflow-scrolling: touch;
}

/* nav specialized to landing page */
.logo {
  text-align: left;
  color: var(--organge);
  font-size: 23px; 
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

/* hero section */
.hero {
  text-align: center;
  padding: 0 0 2rem 0;
  position: relative;
  float: left;
  width: 100%;
}

.hero-pricing {
  margin: 0px !important;
  background: #fff;
}

.hero .inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  z-index: 1;
  /*position: relative;*/
}

.hero .column {
  width: 100%;
  float: left;
}

.hero .column img {
}

.hero .top-menu {
  list-style: none;
  margin: -55px 0 0 0;
  padding: 0px;
  float: right;
}

.hero .top-menu li {
  float: left;
  margin: 0px 10px;
}

.hero .top-menu li a {
  
}

.hero__title {
  font-weight: 700;
  color: var(--primary-color);
  margin-top: 70px;
  font-size: 36px;
  text-align: center;
  width: 100%;
}

.hero__description {
  width: 442px;
  text-align: left;
  color: #000;
  font-size: 21px;
  line-height: 1.69rem;
  text-align: center;
  width: 100%;
}


.bottom-line {
  width: 120%;
  height: 200px;
  background: #f9f0e1;
  transform: rotate(4deg);
  margin: -54px 0 0 -20px;
  position: absolute;
  bottom: -87px;
  z-index: 0;
}

.top-line {
  margin: 0 0 -10px 0;
}

.compatible {
  width: 150px;
  margin: 34px 0 0 0;
  float: left;
  clear: both;
  z-index: 9;
  position: relative;
}

.compatible img {
  width: 100%
}

.hero__image {
  position: absolute;
  right: 0px;
  width: 710px !important;
  top: 115px;
  z-index: 1;
}

.hero__image img {
  width: 100%;
}

/* why */

.why {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 0px;
}

.why svg {
  width: 50px;
  margin: 0 auto 35px;
  display: block;
  fill: var(--organge)
}

.why p {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  line-height: 24px;
}

/* feature section */
.benefits {
  padding: 0;
}

.benefits .section__title {
  margin-bottom: 70px
}

.how {
  flex-direction: column;
  clear: both;
  float: left;
  width: 100%;
}

.how .section__title {
  margin-bottom: 70px;
  text-align: left;
}

.how .feature__item {
  margin: 0px 0 35px 0;
  width: 100%;
  max-width: none;
}

.feature__item a {
  text-decoration: underline;
}

.how .feature__item .section__title {
  margin: 0px
}

.how .feature__item .info {
  float: left;
  width: 70%;
}

.how .feature__item svg {
  width: 30px;
  margin: 3px 25px 0 0;
  display: block;
  float: left;
  fill: var(--organge)
}

h2.section__title {
  margin-top: 100px; 
  text-align: center;
}

.feature {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.feature__item {
  width: calc(50% - 20px);
  margin: 0 20px 70px 0;
}

.feature__item img {
  width: 100%;
  padding: 30px
}

.feature__item svg {
  width: 67px;
  margin: 0 0 0 -5px;
  display: block;
}

.feature__item .section__title {
  margin-bottom: 0;
}

.feature__item p {
  margin-top: 0.5rem;
}

/* share */
.share {
  background-color: var(--bg-color);
  overflow: hidden;
}

.share .section__title.why {
  font-size: 2rem;
  text-align: center; 
}

.share .content {
  max-width: 800px;
  margin: 50px auto;
  text-align: left;
  overflow: hidden;
}

.share p {
  max-width: 700px;
  margin: 10px auto;
  text-align: left;
  font-size: 0.95rem;
  line-height: 1.3rem;
}

.share h2 {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  font-size: 1.5rem;
  line-height: 3rem;
}
.share .column {
  width: 70%;
  float: left;
}
.share .column_img {
  width: 17%;
  margin: 53px 10% 0 0;
  float: left;
}
.share .column_img svg {
  width: 100%;
  padding: 10px;
}

/* buy */
.buy {
  overflow: hidden;
  text-align: center;
}
.buy .section__title {
  margin-bottom: 10px;
}
.buy p {
  max-width: 700px;
  margin: 0 auto
}
.email {
  margin: 30px auto 60px auto;
}
.email input {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.1px;
  font-style: normal;
  font-weight: normal;
  padding: 9px 10px 9px 10px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #ccc;
  width: 240px;
  outline: none;
  margin: 10px 0 0 0;
}

.email .button--new {
  margin: -4px 0 0 0;
  border-radius: 0 4px 4px 0;
  outline: none;
  cursor: pointer !important;
  font-weight: 700;
  border: 1px solid var(--organge);
}

.button--new svg {
  width: 20px;
  fill: #fff;
  vertical-align: bottom
}

.email .button--new:hover {
  background: #fc7862b3;
  border: 1px solid var(--organge);
}

.email.top-email .button--new {
  border-radius: 4px;
  margin: 0 auto;
}

.email_success {
  display: none;
  margin: 30px 0 0 0
}

/* footer */
.footer {
  overflow: hidden;
  height: 50px;
  width: 100%;
  color: #000;
  text-align: center;
  margin: 100px 0 0 0;
  font-size: 13px;
  padding: 0px
}

.footer svg {
  width: 30px;
  margin: 12px 0
}

.footer .icons {
  color: #C7C7C3;
}

.footer ul {
  margin: 18px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer ul li {
  list-style: none;
  display: block;
  margin: 0 10px;
}

.footer ul li img {
  width: 30px;
  height: 30px;
  margin: -7px 0 0 0;
}

.pricing {
  margin: 30px 0 0 0
}

.pricing span {
  display: inline-block;
}

.pricing .dolar {
  font-size: 20px
}

.pricing .price {
  font-size: 40px;
  font-weight: bold;
}

.pricing .mo {
  font-size: 20px;
  margin: 0 0 0 10px
}

.pricing .anually {
  clear: both;
  display: block;
  font-size: 12px;
  color: #bbb
}

.pricing .button--new {
  clear: both;
  display: block;
  margin: 33px auto;
  cursor: pointer;
}

/* Social */

.social {
  width: 100%;
  height: 265px;
  clear: both;
  overflow: scroll;
  margin: 100px 0 50px 0;
  display: none;
}

.social ul {
  float: left;
  height: 250px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 2650px
}

.social ul li {
  width: 250px;
  height: 250px;
  float: left;
  margin: 0px 20px;
  padding: 0px;
  border: 1px solid #000;
}

.social ul li .tw {
  background: var(--bg-color);
  width: 230px;
  height: 230px;
  margin: 10px;
  padding: 10px
}

.social ul li .tw .user {
  width: 100%;
  float: left;
}

.social ul li .tw .user .pic {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  float: left;
}

.social ul li .tw .user .twitter_logo {
  width: 35px;
  height: 35px;
  float: right;
}

.social ul li .tw .user a {
  font-size: 14px;
  font-weight: bold;
  height: 35px;
  display: block;
  padding: 8px 0;
  float: left;
  margin: 0 0 0 10px
}

.social ul li .tw .text {
  margin: 20px 0 0 0;
  display: block;
  float: left;
}

.new_pricing {
  display: flex;
  justify-content: center;
  margin: 100px 0 0 0;
}

.new_pricing .col:first-child {
  margin: 0 40px 0 0;
}

.new_pricing .col {
  width: 280px;
  position: relative;
}

.new_pricing .col .coupon {
  width: 170px;
  height: 45px;
  border: 1px dotted #000;
  position: absolute;
  top: -36px;
  left: 50px
}

.new_pricing .col .coupon .title {
  font-size: 10px;
  position: absolute;
  top: 2px;
  left: 2px;
  font-weight: 400;
}
.new_pricing .col .coupon .txt {
  color: #fe775d;
  position: absolute;
  bottom: 4px;
  width: 100%;
  left: 0;
}

.new_pricing .col .price_monthly {
  width: 280px;
  height: 312px;
  float: left;
  margin: 5% 0;
  border: 1px solid #000;
}

.new_pricing .col .price_monthly .price_box {
  width: 260px;
  height: 292px;
  float: left;
  margin: 9px;
  color: #000;
  padding: 10px
}


.new_pricing .col .price_yeraly {
  width: 280px;
  height: 312px;
  float: left;
  border: 1px solid #000;
  margin: 5% 0
}

.new_pricing .col .price_yeraly .price_box {
  width: 260px;
  height: 292px;
  float: left;
  background: var(--organge);
  margin: 9px;
  color: #fff;
  padding: 10px
}

.new_pricing .col .price_yeraly .button--new {
  background: #fff;
  color: var(--organge);
}

.new_pricing .col .price_yeraly .button--new:hover {
  background: #ffffffed;
}

.new_pricing .col .title {
  font-size: 16px;
  font-weight: bold;
}

.new_pricing .col .price {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 48px;
  margin: 25px 0
}

.new_pricing .col .price span {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 20px;
}

.new_pricing .col .info {
  font-size: 14px;
}

.new_pricing .quote {
  width: 280px;
  padding: 20px;
  text-align: left;
}

.new_pricing .quote span {
  font-family: 'Merriweather', serif;;
  font-size: 24px;
  text-align: left;
}

.new_pricing .quote .name {
  font-family: 'Lato', sans-serif;;
  font-size: 20px;
  text-align: left;
  display: block;
  margin: 20px 0 0 0
}

.new_pricing .quote .company {
  font-family: 'Lato', sans-serif;;
  font-size: 15px;
  text-align: left;
  display: block;
}

.features {
  width: 580px;
  margin: 100px auto 0 auto;
}

.features .title {
  font-weight: bold
}

.features table {
  margin: 30px 0 0 0
}

.features table, .features tr, .features td {
  background: #fff !important;
  border: 0px;
  font-weight: 400 !important;
  text-align: left;
}

.features tr {
  border-top: 1px solid #ccc;
}

.features svg {
  width: 23px;
  height: 23px;
}

.features .soon {
  font-size: 13px;
  color: #6C04D0;
  font-weight: 700;
}

.cta-convinced {
  width: 100%;
  display: block;
  float: left;
  margin: 50px 0;
  position: relative;
}

.cta-convinced span {
  display: block;
  width: 100%;
  text-align: center;
}

.cta-convinced .buy {
  margin: 15px auto;
  float: none;
  display: block;
  width: 250px;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  font-weight: 400
}

.cta-convinced .buy:hover {
  color: #fff;
}

.cta-convinced .buy:hover svg {
  fill: #fff;
}

.cta-convinced svg {
  fill: #000;
}

.cta-convinced .line { 
  width: 140px;
  border-bottom: 1px solid #000;
  position: absolute;
}

.cta-convinced .line.left {
  top: 54px;
  left: 50%;
  margin: 0 0 0 -304px;
}

.cta-convinced .line.right {
  top: 54px;
  right: 50%;
  margin: 0 -304px 0 0;
}

.cta-convinced a:hover {
  color: var(--organge);
  border: 1px solid var(--organge);
}

.cta-convinced a:hover svg {
  fill: var(--organge);
}

/* */
.half {
  float: left;
  width: 100%;
  padding: 0 1em;
}
/* Acordeon styles */
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #fff;
  line-height: 2;
  cursor: pointer;
  color: #000;
  border-bottom: 1px solid;
}
.blue label {
  background: #2980b9;
}
.tab-content {
  color: #000;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}
.tab-content a {
  color: var(--organge);
}
.blue .tab-content {
  background: #3498db;
}
.tab-content p {
  margin: 1em;
}
/* :checked */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}
/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  top: -4px;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
.tab input[type=checkbox] + label::after {
  content: "+";
}
.tab input[type=radio] + label::after {
  content: "\25BC";
}
.tab input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
.tab input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}

/* */

.books-mobile {
  display: none;
}

.badget {
  background: #6C04D0;
  font-size: 12px;
  padding: 2px 9px;
  border-radius: 15px;
}


/* Windows gif */

.iphonex {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: block;
  display: none;
}

.gif_window {
  margin: 0 0 60px 0;
  float: left;
}

.gif_window video {
  width: 100%;
  height: 549px;
  padding: 0px;
  box-shadow: #b1adad -1px 6px 11px 1px;
  border: 0px;
  margin: 0px;
  float: left;
  cursor: pointer;
}

.gif_window img {
  width: 100%;
  padding: 0px;
  box-shadow: #b1adad -1px 6px 11px 1px;
  margin: 0px;
  float: left;
}

@media (max-width: 750px) {
  .gif_window {
    display: none;
  }

  .iphonex {
    display: block;
  }

  p, h1, h2, h3, h4 {
    text-align: center !important;
    width: 100% !important;
  }
  .wrapper {
    margin: 0 auto;
    width: 80%;
  }
  .button--new, .button--new:hover {
    float: none
  }
  .hero__image {
    display: none;
  }
  .hero {
    margin-bottom: 100px;
  }
  .hero .email {
    float: none;
    margin: 0 auto;
  }
  .hero .column {
    width: 100%;
  }
  .kindle_logo {
    padding-right: 0;
    float: none;
  }
  .feature__item {
    max-width: 100%;
    width: 100%;
    margin: 20px 0;
  }
  .share .column {
    width: 100%;
    padding: 0 5%;
  }
  .share .column_img {
    display: none;
    width: 17%;
    margin: 53px 10% 0 0;
    float: left;
  }
  .email .button--new {
    width: auto;
    float: none !important;
    font-weight: 700 !important
  }
  .hero .column img {
    float: none !important;
  }
  .email input {
    width: 215px;
  }
  .compatible {
    float: none;
    margin: 30px auto 0
  }
  .feature__item svg, .how .feature__item svg {
    float: none;
    margin: 0 auto;
  }
  .how .feature__item .info {
    width: 100%;
  }

  .quote {
    display: none;
  }

  .new_pricing {
    flex-direction: column;
  }

  .new_pricing .col {
    width: 100%;
  }

  .new_pricing .col:nth-child(2) {
    order: 2;
    margin: 27px 0 0 0;
  }

  .new_pricing .col .coupon {
    left: 50%;
    margin: 0px 0 0 -85px;
  }

  .new_pricing .col .price_monthly, .new_pricing .col .price_yeraly {
    margin: 20px auto;
    float: none;
  }

  .features {
    width: 100%
  }

  .faqs {
    width: 100%
  }

  .faqs .half {
    padding: 0px
  }

  .faqs .half p {
    text-align: left !important
  }

  .books-mobile {
    display: block;
    position: absolute;
    height: 200px;
    width: 100%;
    bottom: -148px;
    z-index: 2;
    left: 0;
    background-image: url(media/books-mobile.png);
    background-size: cover;
  }

  .bottom-line {
    display: none;
  }

  .why {
    margin: 0px
  }

  .cta-convinced {
    margin: 100px 0;
  }

  .top-menu {
    display: none;
  }

  .compatible {
    visibility: hidden;
  }

  .button--new.buy {
    font-size: 1rem;
  }
}